.container {
  max-width: 1000px;
}

.main-content {
  min-height: 500px;
}

%link-accent {
  color: $link;
  font-weight: $weight-semibold;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
