<div class="homepage">
  <div class='form-upload'>
    <%= render 'upload_form' %>
  </div>

  <div class="posts">
    <% @posts.each do |post| %>
      <%= render partial: 'post', locals: { post: post } %>
    <% end %>
    <%= paginate @posts %>
  </div>
</div>
