.reaction {
  display: flex;
  align-items: center;

  .reaction-icon {
    font-size: 24px;
    line-height: 1;
    color: $ink;
    margin-right: 8px;

    &:hover {
      color: $ink-muted;
      text-decoration: none;
    }

    &.liked {
      color: $danger;
    }
  }

  .reactions-count {
    font-size: 14px;
    font-weight: $weight-semibold;
    color: $ink;
  }
}
