@import "bootstrap";
@import "font-awesome";
@import "users";
@import "posts";

.container{
  max-width: 1000px;
}

.navbar{
  border-bottom: 1px solid rgba(0,0,0,.0975);
}
.user-section{
  a{
    padding-left: 15px;
  }
  i.fa{
    font-size: 22px;
    color: #000000d4;
  }
}
.search-form{
  input{
    font-size: 13px;
    text-align: center;
  }
}
.footer{
  font-size: 12px;
  padding-top: 30px;
  ul{
    padding-left: 0;
    > li{
      display: inline;
      padding-right: 15px;
      color: #003569;
    }
  }
  p{
    color: #999;
  }
}

.search-page{
  h1{
    font-size: 24px;
    padding: 25px 0 0 30px;
  }
}
