.homepage{
  .form-upload{
    border: 1px solid #dbdbdb;
    height: auto;
    margin: 30px 180px;
    padding: 30px;
    border-radius: 3px;

    input[type='text']{
      width: 100%;
    }

    .images{
      border: 1px solid #dbdbdb;
      color: grey;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      margin: 0 auto;
      padding-top: 35px;
    }
    .description{
      border: 1px solid #dbdbdb;
      border-radius: 5px;
      width: 90%;
      margin: 30px 5%;
      height: 40px;
      padding: 0 10px;
    }
  }

  .posts{
    margin: 50px 180px 10px;

    .post{
      border: 1px solid #dbdbdb;
      margin: 60px 0;
      border-radius: 3px;
      .user{
        border-bottom: 1px solid #efefef;
        display: flex;
        .avatar{
          width: 30px;
          margin: 8px;

          img{
            width: 100%;
            border: 1px solid #efefef;
            border-radius: 50%;
          }
        }
        .username{
          padding-top: 13px;
          color: #262626;
          font-size: 14px;
          font-weight: 600;
        }
      }

      .main-image{
        width: 100%;
        border-bottom: 1px solid #efefef;
      }
      .description{
        padding: 20px;
      }
    }
  }

  .pagination{
    span{
      padding-right: 10px;
    }
  }
}
