.post-show{
  .reaction{
    display: flex;
    align-items: center;

    .reaction-icon{
      font-size: 24px;
      line-height: 1;
      color: #262626;
      margin-right: 8px;

      &:hover{
        color: #8e8e8e;
        text-decoration: none;
      }

      &.liked{
        color: #ed4956;
      }
    }

    .reactions-count{
      font-size: 14px;
      font-weight: 600;
      color: #262626;
    }
  }
}
